@use 'variables' as *;
@use 'mixins' as *;

.callback {
  position: relative;
  margin-bottom: 220px;
  background-image: url(../image/callback-bg.png);
  background-repeat: no-repeat;
  padding-top: 130px;
}

.callback__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 210px;
  row-gap: 40px;
}

.callback__steps {
  display: flex;
  flex-direction: column;
  gap: 90px;
  max-width: 375px;
  margin-left: auto;
}

.callback__step {
  display: flex;
  gap: 20px;
  align-items: center;
}

.callback__step-number {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-primary;
  border: 8px solid $color-white;
  color: $color-white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include text-base($font-secondary, $font-size-xl);
}

.callback__step-text {
  @include text-base($font-primary, $font-size-base);
  color: $color-text-dark;
  line-height: 160%;
}

.callback__right {
  background-color: $color-dark;
  max-width: 500px;
  padding: 30px 50px;
  position: relative;
}

.callback__title {
  @include text-base($font-primary, $font-size-xl);
  color: $color-white;
  line-height: 105%;
  text-align: center;
  max-width: 260px;
  margin: 0 auto 40px;
}

.callback__form {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.callback__form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.callback__form-label {
  @include text-base($font-primary, $font-size-sm);
  color: $color-white-transparent-50;
}

.callback__form-input {
  @include input-base($color-white-transparent-30, $color-white);
  padding-bottom: 5px;
  
  &::placeholder {
    color: $color-white-transparent-50;
  }
}

.callback__form-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -20px;
}

.callback__form-checkbox-input {
  @include checkbox-base();
}

.callback__form-checkbox-label {
  @include text-base($font-primary, $font-size-base);
  color: $color-white;
  cursor: pointer;
  user-select: none;
}

.callback__form-button {
  padding: 20px 22px;
  height: $button-height-large;
  @include button-base();
  line-height: 100%;
  box-shadow: 0 5px 15px $color-primary-light-shadow;
  margin-top: -20px;
  align-self: flex-end;
}

.callback__help {
  grid-column: 2;
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 340px;
  margin-top: 40px;
}

.callback__help-icon {
  flex-shrink: 0;
  padding-left: 35px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.callback__help-text {
  @include text-base($font-primary, $font-size-xl);
  color: $color-primary;
  line-height: 140%;
  margin: 0;
}
