@use 'variables' as *;
@use 'mixins' as *;

.footer {
  background-color: $color-dark;
  padding: 32px $container-padding;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 0;
}

.footer__container {
  max-width: $container-max-width-small;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer__logo-link {
  @include text-base($font-primary, $font-size-xs);
  color: $color-primary;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
}

.footer__nav {
  display: flex;
}

.footer__nav-list {
  list-style: none;
  display: flex;
  gap: 47px;
  margin: 0;
  padding: 0;
}

.footer__nav-link {
  @include text-base($font-primary, $font-size-xs);
  color: $color-white;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  transition: color $transition-base;

  &:hover {
    color: $color-primary;
  }
}

.footer__contacts {
  display: flex;
  align-items: center;
  gap: 45px;
}

.footer__phone {
  @include text-base($font-primary, $font-size-xs);
  color: $color-primary;
  line-height: 100%;
  text-decoration-line: underline;
  text-decoration-color: $color-primary;
  transition: color $transition-base;

  &:hover {
    color: $color-primary-dark;
  }
}

.footer__button {
  @include button-base($color-primary, $color-white);
  width: $button-width;
  height: $button-height;
  text-align: center;
  line-height: 100%;
}
