@use 'variables' as *;
@use 'mixins' as *;

.header {
  background-color: $color-dark;
  height: $header-height;
}

.header__container {
  max-width: $container-max-width-small;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header__logo-link {
  @include text-base($font-primary, $font-size-xs);
  color: $color-primary;
  line-height: 100%;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 47px;
}

.header__nav-link {
  @include text-base($font-primary, $font-size-xs);
  color: $color-white;
  line-height: 100%;
  text-transform: uppercase;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__phone {
  @include text-base($font-primary, $font-size-xs);
  color: $color-primary;
  line-height: 100%;
  text-decoration-line: underline;
}

.header__button {
  @include button-base($color-primary, $color-white);
  width: $button-width;
  height: $button-height;
  text-align: center;
  line-height: 100%;
}
