@use 'variables' as *;
@use 'mixins' as *;

.main {
  width: 100%;
}

.main__container {
  width: 100%;
}

.hero {
  background-image: url(../image/section-1-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-overlay;
    z-index: $z-index-overlay;
  }
}

.hero__container {
  @include container();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: $z-index-content;
}

.hero__title {
  margin: 0;
  max-width: 600px;
  @include text-base($font-secondary, $font-size-h1, 600);
  color: $color-white;
  line-height: 115%;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.hero__title-accent {
  @include text-base($font-secondary, $font-size-h1, 600);
  color: $color-primary;
  line-height: 115%;
  text-transform: uppercase;
}

.hero__description {
  max-width: 500px;
  @include text-base($font-primary, 22px);
  color: $color-white;
  line-height: 164%;
  margin-bottom: 40px;
}

.hero__buttons {
  display: flex;
  gap: 20px;
}

.hero__button {
  padding: 20px 40px;
  border: none;
  border-radius: 2px;
  @include text-base($font-primary, $font-size-xs);
  font-style: italic;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  
  &--primary {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 5px 15px 0px $color-primary;
  }
  
  &--secondary {
    padding: 20px 22px;
    border: 1px solid $color-white;
    background: transparent;
    color: $color-white;
  }
}
