@use 'variables' as *;
@use 'mixins' as *;

.projects {
  background-color: $color-dark;
  width: 100%;
  padding-top: 107px;
}

.projects__wrapper {
  @include container();
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.projects__left {
  flex: 0 0 auto;
  width: 440px;
  margin-top: 55px;
}

.projects__right {
  flex: 0 0 auto;
  width: 680px;
  display: flex;
  flex-direction: column;
}

.projects__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects__title {
  max-width: 250px;
  @include heading($font-size-xxxl, $color-primary);
  line-height: 120%;
  margin-bottom: 35px;
}

.projects__description {
  @include text-base($font-primary, $font-size-base);
  color: $color-white;
  line-height: 190%;
  margin-bottom: 42px;
}

.projects__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  margin-bottom: 80px;
}

.projects__info-title {
  @include heading($font-size-xl, $color-primary);
  line-height: 130%;
  margin-bottom: 10px;
}

.projects__info-description {
  @include text-base($font-primary, $font-size-sm);
  color: $color-white;
  line-height: 164%;
}

.projects__navigation {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.projects__nav-arrow {
  width: 42px;
  height: 14px;
  background-color: transparent;
  border: none;
  color: $color-white-transparent-30;
  cursor: pointer;
  transition: color $transition-base;
  padding: 0;
  
  &:hover {
    color: $color-primary;
  }
}

.projects__nav-dots {
  display: flex;
  gap: 15px;
  align-items: center;
}

.projects__nav-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $color-white-transparent-30;
  cursor: pointer;
  transition: background-color $transition-base;
  
  &:hover {
    background-color: $color-white-transparent-50;
  }
  
  &--active {
    background-color: $color-white;
  }
}

.projects__tabs {
  display: flex;
  gap: 60px;
  margin-bottom: 45px;
}

.projects__tab {
  background: transparent;
  border: none;
  color: $color-white-transparent-30;
  @include text-base($font-secondary, $font-size-base);
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
  padding-bottom: 8px;
  transition: color $transition-base;
  position: relative;
  white-space: nowrap;
  
  &:hover {
    color: rgba($color-primary, 0.8);
  }
  
  &--active {
    color: $color-primary;
    
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-primary;
    }
  }
}

.projects__image {
  width: 100%;
  
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
