@use 'variables' as *;
@use 'mixins' as *;

.video {
  background: linear-gradient(to bottom, 
    $color-dark 445px, 
    $color-white 445px);
  width: 100%;
  padding-top: 90px;
  margin-bottom: 35px;
}

.video__container {
  @include container();
  padding: 0 $container-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__title {
  @include heading($font-size-xxl, $color-white);
  line-height: 120%;
  text-align: center;
  margin-bottom: 13px;
}

.section-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.section-divider__line {
  @include section-divider-line;
}

.video__player {
  position: relative;
  width: 100%;
  max-width: 817px;
  overflow: hidden;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-overlay-80;
    z-index: $z-index-overlay;
  }
}

.video__player-image {
  width: 100%;
  height: auto;
  display: block;
}

.video__player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform $transition-base;
  z-index: $z-index-content;
  
  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  svg {
    filter: drop-shadow(0 5px 15px $color-primary-shadow);
  }
}

.video__bottom-line {
  width: 55px;
  height: 2px;
  background-color: $color-primary;
  border-radius: 1px;
  margin: 0 auto;
  margin-top: 62px;
}
