// Импорт reset
@use 'reset';

// Импорт компонентов
@use 'header';
@use 'hero';
@use 'projects';
@use 'video';
@use 'form';
@use 'gallery';
@use 'callback';
@use 'fantasies';
@use 'clients';
@use 'questions';
@use 'footer';
