* {
    box-sizing: border-box;
}

.container { 
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    gap: 3%;
    min-height: 76px;
    width: 100%;
    margin-bottom: 16px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 30px;
}

.item__link {
    font-size: 14px;
    font-weight: 500;
    color:rgba(51, 51, 51, 1);
    line-height: 17px;
    text-align: center;
    cursor: pointer;
}

.item__link-dropdown {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.icon__menu {
    width: 14px;
    height: 14px;
}

.header__action {
    margin-left: auto;
}

.header__action-btn{
    border: none;
    padding: 14px 20px;
    max-width: 230px;
    max-height: 48px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}

.btn-animation {
    color: rgba(3, 178, 165, 1);
    background: rgba(227, 245, 245, 1);
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.3s;
}

.btn-animation:hover {
    background: rgba(3, 178, 165, 1);
    color: rgba(227, 245, 245, 1);
}

.header__line {
    border: 1px solid rgba(239, 242, 242, 1);
    margin-bottom: 16px;
}

.hero {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.article__bg {
    position: absolute;
    top: 300px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 915px;
    background: url(/img/bg-grid.png) no-repeat center / cover;
    z-index: -1;
}

.breadcrumb {
    color: rgb(113, 113, 113);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

.breadcrumb__link {
    color: rgb(113, 113, 113);
}

.blog {
    max-width: 1200px;
    margin: auto;
}

.blog__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    margin-bottom: 32px;
}

.blog__filter {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin-bottom: 23px;
}

.blog__filter-selection {
    display: flex;
    border: 1px solid rgba(193, 197, 205, 1);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(51,51, 51, 1);
    padding: 6px 8px;
    gap: 3px;
    cursor: pointer;
    white-space: nowrap;
}

.blog__filter-selection:nth-child(3) {
    border: 2px solid rgba(22, 200, 187, 1);
}

.article__grid {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 96px;
}

.article__grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    width: 100%;
    max-width: none;
    margin-bottom: 56px;
}

.article__grid-big {
    grid-column: span 3;
}

.article__grid-img {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    padding: 8px 0 0 8px;
    min-height: 260px;
}

.backgroud__img1 {
    background-image: url(/img/article-big1.png);
}

.backgroud__img2 {
    background-image: url(/img/article-big2.png);
}

.article__filter {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    max-width: 265px;
}

.article__filter > :first-child {
    background-color: rgba(255, 255, 255, 0.7);
}

.article__filter > :last-child {
    background-color: rgba(255, 255, 255, 0.7);
}

.big-info {
    padding: 16px;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 0 0 15px 15px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
}

.article__grid-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
    margin: 0 0 4px;
}

.article__grid-copy {
    display: block;
    color: rgba(73, 73, 73, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-bottom: 8px;
}

.article__grid-text {
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.article__grid-date {
    color: rgba(134, 134, 134, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-top: auto;
}

.article__grid-item {
    grid-column: span 2;
    min-height: 476px;
}

.backgroud__img3 {
    background-image: url(/img/article-small1.png);
}

.small-info {
    padding: 16px;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 0 0 15px 15px;
    min-height: 216px;
    display: flex;
    flex-direction: column;
}

.backgroud__img4 {
    background-image: url(/img/article-small2.png);
}

.backgroud__img5 {
    background-image: url(/img/article-small3.png);
}

.backgroud__img6 {
    background-image: url(/img/article-small4.png);
}

.backgroud__img7 {
    background-image: url(/img/article-small5.png);
}

.backgroud__img8 {
    background-image: url(/img/article-small6.png);
}

.article__grid-button {
   display: flex;
   justify-content: center;
   align-items: center;
}

.article__btn {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    border: none;
    border-radius: 4px;
    background: rgba(53, 179, 169, 1);
    color: rgba(255, 255, 255, 1);
    min-width: 182px;
    cursor: pointer;
}

.footer {
    min-height: 302px;
    margin: auto;
    padding: 40px 120px 17px;
    background: rgba(41, 99, 163, 1);
}

.footer__layout {
    max-width: 1200px;
    margin: auto;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    gap: 91px;
    border-bottom: 1px solid rgba(157, 157, 157, 0.3);
    margin-bottom: 16px;

}

.footer__menu {
    margin-bottom: 24px;
}

.footer__menu-list {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 16px;
    column-gap: 93px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer__list-item {
    list-style: none;
}

.footer__item-link {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.footer__subscrible {
    max-width: 486px;
}

.footer__subscrible-title {
    max-width: 356px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
}

.footer__subscrible-action {
    max-width: 384px;
    position: relative;
}

.footer__subscrible-input {
    width: 100%;
    max-width: 384px;
    padding: 14px 52px 14px 16px;
    border: 1px solid rgba(157, 157, 157, 0.2);
    border-radius: 4px;
    outline: none;
    margin-bottom: 8px;
}

.footer__subscrible-input:placeholder {
    color: rgba(157, 157, 157, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.footer__subscrible-input:focus {
    border-color: #b8bdc4;
    box-shadow: 0 0 10px rgba(184, 189, 196, 0.4);;
}

.footer__subscrible-btn {
    position: absolute;
    right: 0;
    width: 64px;
    height: 48px;
    padding: 0;
    background: rgba(22, 200, 187, 1);
    border: 1px solid rgba(22, 200, 187, 1);
    border-radius: 4px;
    cursor: pointer;
}

.footer__subscrible-btn img {
    width: 19px;
    height: 21px;
}

.footer__subscrible-text {
    max-width: 486px;
    width: 100%;
    display: block;
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.footer__icon {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 400px;
}

.footer__icon-small {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 16px;
    width: 32px;
    height: 32px;
}

.footer__box {
    max-width: 1200px;
    margin: auto;
}

.footer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 563px;
    margin: left;
}

.footer__info-item {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .header {
        max-width: 964px;
    }

    .header__menu-list {
        gap: 16px;
        padding: 0;
    }

    .hero {
        max-width: 964px;
        margin: 0 auto;
        width: 100%;
    }

    .article__bg {
        display: none;
    } 

    .small-info {
        min-height: 266px;
    }

    .footer {
        padding: 40px 26px 17px 38px;
    }

    .footer__container {
        gap: 21px;
        max-width: 964px;
    }

    .footer__menu-list {
        column-gap: 30px;
    }

    .footer__subscrible {
        max-width: 450px;
    }
}

@media screen and (max-width: 768px) {

    .header {
        max-width: 728px;
    }

    .header__menu {
        display: none;
    }

    .header__action-btn {
        display: none;
    }

    .header__action {
        width: 40px;
        height: 40px;
        background-image: url(/img/action-btn-small.png);
        cursor: pointer;
    }

    .hero {
        max-width: 728px;
        width: 100%;
        margin: auto;
    }

    .article__grid-big {
    grid-column: span 6;
    }

    .article__grid-item {
        grid-column: span 3;
    }

    .footer {
        padding: 35px 20px 23px;
    }

    .footer__container {
        max-width: 728px;
        width: 100%;
        margin: auto;
        margin-bottom: 16px;
        column-gap: 31px;
        row-gap: 26px
    }

    .footer__menu {
        margin-bottom: 0;
    }

    .footer__icon {
        margin-bottom: 27px;
    }

}

@media screen and (max-width: 414px) {
    .header {
        max-width: 374px;
    }

    .blog__title {
        font-size: 40px;
        line-height: 40px;
        margin: 0;
        margin-bottom: 24px;
    }

    .hero {
        max-width: 374px;
    }

    .blog__filter {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .blog__filter::-webkit-scrollbar {
        display: none;
    }

    .article__grid-item {
        grid-column: span 6;
    }

    .phone__adaptiv {
        display: none;
    }

    .footer {
        padding: 35px 19px;
    }

    .footer__container {
        max-width: 374px;
        margin-bottom: 20px;
        row-gap: 23px;
    }

    .footer__menu-list {
        column-gap: 158px;
    }

    .footer__icon {
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .footer__info-item {
        width: 100%;
    }

    .footer__info-item:first-child {
        margin-bottom: 24px;
    }

    .footer__info-item:nth-child(2) {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
    }

    .blog__title {
        font-size: 24px;
        line-height: 32px;
    }

    .hero {
        max-width: 288px;
    }

    .footer__container {
        max-width: 288px;
    }

    .footer__menu-list {
        column-gap: 66px;
    }

    .footer__subscrible-btn {
        display: none;
    }
}

/* Page1 - Как не утонуть в тревоге */

.layout {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    gap: 24px
}

.article {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.article__title {
    color: rgba(51, 51, 51, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    margin: 0;
    margin-bottom: 16px;
}

.article__copy {
    color: rgba(73, 73, 73, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.article__copy-link {
    display: none;
}

.article__copy-active {
    color: rgba(41, 99, 163, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


.article__img {
    background-image: url(/img/page-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 690px;
    height: 331px;
}

.article__content-title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.article__content-list {
    text-align: left;
    max-width: 588px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.article__content-item {
    position: relative;
    margin: 8px 0;
    padding-left: 20px;
}

.article__content-list > .article__content-item::before {
    content: "•";                   
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 0.4;
    color: rgba(53, 179, 169, 1);                   
    font-size: 48px;     
}

.article__content-list > .article__content-item:first-child::before {
    transform: translateY(12px);
}

.article__content-list .article__content-list {
    padding-left: 22px;
}

.article__content-list .article__content-list .article__content-item {
    padding-left: 0;
}

.article__content-list .article__content-list .article__content-item::before {
    content: none;
}

.item-link {
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.article__section p:last-child {
    margin: 0;
}

.article__section-heading {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.article__section-text {
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.article__section-quote {
    background-color: rgba(243, 247, 254, 1);
    padding: 24px;
    border-radius: 16px;
}

.section__qute-text {
    background-image: url(/img/sectiom-quote.svg);
    background-repeat: no-repeat;
    background-size: 56px 24px;
    background-position: -9px 0;
    margin: 0;
    margin-bottom: 8px;
    color: rgba(51, 51, 51, 1);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section__quote-name {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.section__list-title {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
}

.section__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color:rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section__list-item {
    position: relative;
    padding-left: 28px;
}

.section__list-item::before {
    content: "•";                 
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 0.3;
    color: rgba(53, 179, 169, 1);                   
    font-size: 48px;
}

.section__list-item:first-child {
    margin-bottom: 16px;
}

.section__img-bg {
    margin-bottom: 16px;
}

.section__img-caption {
    margin: 0;
    color: rgba(134, 134, 134, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 24px;
}

.section__img-text {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section__blockquote {
    min-height: 168px;
    background-image: url(/img/blockquote-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 24px;
}

.section__blockquote-quote {
    max-width: 485px;
    margin: auto;
    color: rgba(51, 51, 51, 1);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.image__block-text {
    margin: 0;
    color:rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px;
}

.image__block-container {
    display: flex;
    gap: 24px;
}

.section__exercise {
    background-color: rgba(254, 250, 236, 1);
    padding: 24px;
    border-radius: 16px;
}

.section__exercise-title {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 8px;
}

.section__exercise-text {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.section__exercise2 {
    background-color: rgba(255, 243, 235, 1);
    padding: 24px;
    border-radius: 16px;
}

.article__img-container {
    display: flex;
    gap: 24px;
}

.article__img-text {
    max-width: 333px;
}

.article__text-card1 {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.article__divider {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 691px;
    position: relative;
}

.article__divider::before,
.article__divider::after {
    content: "";
    flex: 1;
    max-width: 66px;
    height: 1px;
    background-color: rgba(0, 99, 168, 1);
    margin: 0 5px;
}

.section__exercise3 {
    background-color: rgba(3, 178, 165, 0.1);
    padding: 24px;
    border-radius: 16px;
}

.article__breadcrumbs {
    margin-bottom: 48px;
}

.article__breadcrumbs-link {
    color: rgba(41, 99, 163, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.article__line {
    border: 1px solid rgba(222, 222, 222, 1);
    margin-bottom: 72px;
}

.article__question {
    display: flex;
    max-width: 1083px;
    justify-content: space-between;
}

.question__block-action {
    max-width: 348px;
    margin-bottom: 178px;
}

.question__block-title {
    color: rgba(51, 51, 51, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    margin-bottom: 24px;
} 

.question__block-text {
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-bottom: 24px;
}

.question__block-btn {
    border-radius: 4px;
    background: rgba(22, 200, 187, 1);
    border: none;
    padding: 20px 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    cursor: pointer;
}

.question__block-img {
    background-image: url(/img/question__block-img-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 520px;
    height: 330px;
}

.question__block-img img {
    position: relative;
    top: -43px;
    left: 63px;
}

/* Заканчивается сексция со статьёй */

.aside {
    max-width: 282px;
}

.aside__card-details {
    min-height: 512px;
    padding: 24px 12.5px;
    background-color: rgba(230, 240, 253, 1);
    border-radius: 16px;
    text-align: center;
    margin-bottom: 24px;
}

.card__details-img {
    width: 257px;
    height: 206px;
    margin-bottom: 27px;
    object-fit: cover;
}

.card__details-title {
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    margin-bottom: 11px;
}

.card__details-info {
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;    
    margin: 0;
    margin-bottom: 24px;
}

.card__details-btn {
    padding: 12px 16px;
    margin: 0;
    border: none;
    background-color: rgba(53, 179, 169, 1);
    border-radius: 4px;
    width: 234px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.aside__card-personal {
    min-height: 469px;
    padding: 24px 16px;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    position: relative;
}

.card__personal-bg {
    background-image: url(/img/card-personal.png);
    background-repeat: no-repeat; 
    background-position: center;   
    background-size: contain;    
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
}

.card__personal-filtr {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
 
 .personal__filtr-text { 
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.7);
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    max-width: 105px;
    max-height: 24px;
    padding: 3px 6px;
}

.personal__filtr-video {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.7);
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    max-width: 74px;
    max-height: 24px;
    padding: 3px 6px;
}

.aside__personal-info {
    border-bottom: 1px solid rgba(222, 222, 222, 1);
    min-width: 250px;
    min-height: 92px; 
    text-align: center;
}

.personal__name {
    color: rgba(51, 51, 51, 1);
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.personal__prof {
    color: rgba(51, 51, 51, 1);
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 4px;
}

.personal__age {
    color: rgba(162, 167, 177, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.aside__card-info {
    text-align: left;
    margin-bottom: 20px;
}

.card__info-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.card__info-list {
    margin: 0;
    padding: 0;
}

.card__info-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    position: relative;
    padding-left: 24px;
}

.card__info-item::before {
    content: "•";                   
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 0.3;
    color: rgba(53, 179, 169, 1);                   
    font-size: 48px;           
}

.aside__card-bonus {
    padding-top: 13px;
    background-image: url(/img/card-bonus-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 282px;
    max-height: 292px;
    border-radius: 16px;
    margin-bottom: 42px;
}

.card__bonus-img1 {
    width: 100%;
}

.card__bonus-img2 {
    display: none;
}

.aside__card-pay {
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 24px;
    padding: 32px;
    background-image: url(/img/card-pay-img.png);
    background-repeat: no-repeat;
    background-position: bottom;
    max-height: 305px;
}

.card__pay-title {
    margin: 0;
    color: rgba(41, 99, 163, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.card__pau-number {
    color: rgba(41, 99, 163, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.card__pay-text {
    margin: 0;
    color: rgba(1, 22, 50, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.card__pay-money {
    margin: 0;
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 16px;
}

.card__pay-btn {
    padding: 12px 16px;
    border: none;
    background-color: rgba(53, 179, 169, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 108px;
}

@media screen and (max-width: 1024px) { 
    .article__copy-link {
        display: inline-block;
    }
   
    .aside {
        max-width: 222px;
    }

    .card__details-img {
        width: 181px;
        height: 181px;
    }

    .card__details-btn {
        max-width: 182px;
    }

    .aside__card-pay {
        padding: 24px;
    }

    .image-bg {
        display: none;
    }

    .article__breadcrumbs {
        display: none;
    }

    .article__line {
        display: none;
    }

    .article__question {
        display: none;
    }

    .section__exercise3 {
        margin-bottom: 71px;
    }

    .card__bonus-img2 {
    display: none;
}

}

@media screen and (max-width: 768px) {
    .article {
        max-width: 728px;
    }

    .layout {
        flex-wrap: wrap;
    }

    .aside {
        max-width: 100%;
    }

    .aside__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: center;
        margin-bottom: 60px;
    }

    .aside__cards > div {
        flex: 1 1 calc(50% - 8px);
        max-width: calc(50% - 8px);
        
    }

    .card__details-img {
        width: 257px;
        height: 257px;
    }

    .aside__card-bonus {
        background-image: url(/img/card-bonus-bg-small.png);
        width: 355px;
        height: 244px;
        padding-top: 10px;
    }

    .card__bonus-img1 {
        display: none;
    }

    .card__bonus-img2 {
        display: block;
    }

    .aside__card-pay {
        height: 244px;
        background-image: url(/img/card-pay-adaptiv.png);
        padding: 24px 21px 4px;
    }
/* Мне вот тут пришлось извращаться. Я картинки менял, и плюс, размер левого блока по картинке меньше
чем правый, поэтому пришлось ставить меньше размер и марджин. Понять и проситить :D */
    .card__pay-money {
        margin-bottom: 10px;
    }

    .aside__card-details,
    .aside__card-personal,
    .aside__card-bonus,
    .aside__card-pay {
        margin-bottom: 0;
  }

}

@media screen and (max-width: 414px) {
    .article {
        max-width: 374px;
    }

    .breadcrumb {
        max-width: 374px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .article__title {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 8px;
    }

    .article__img {
        max-width: 374px;
        max-height: 180px;
    }

    .article__content-item {
        margin: 0;
    }

    .item__adaptiv {
        display: none;
    }

    .section__img-bg {
        max-width: 374px;
    }
    
    .image__block-container {
        flex-wrap: wrap;
    }

    .image__block-text {
        margin-bottom: 16px;
    }

    .image__block-container > img {
        width: 374px;
        height: 380px;
        object-fit: cover;
    }

    .block__adaptiv > img {
        width: 374px;
        height: 240px;
    }

    .article__img-container {
        flex-wrap: wrap;
    }

    .article__img-text {
        max-width: 374px;
    }

    .section__exercise3 {
        margin-bottom: 32px;
    }

    .aside__cards {
        margin-bottom: 100px;
    }

    .article__img-card1 {
        width: 288px;
        margin-bottom: 16px;
    }

    .aside__cards > div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .aside__card-bonus {
        background-image: url(/img/card-bonus-bg-small.png);
        background-size: cover;
        padding-top: 12px;
    }

}

@media screen and (max-width: 320px) {
    .layout {
        gap: 16px;
    }
    
    .article {
        max-width: 288px;
    }
    
    .article__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
    }

    .article__img {
        max-width: 288px;
        max-height: 140px;
    }

    .section__img-bg {
        max-width: 288px;
        max-height: 154px;
    }
    
    .image__block-container > img {
        width: 288px;
        height: 380px;
        object-fit: cover;
    }

    .image__block-containe {
        gap: 16px;
    }

    .block__adaptiv > img {
        width: 320px;
        height: 160px;
    }

    .article__img-container {
        flex-wrap: wrap;
    }

    .article__img-text {
        max-width: 320px;
    }

    .section__exercise3 {
        margin-bottom: 0;
    }

    .aside__cards {
        width: 288px;
        margin-bottom: 60px;
    }

    .article__img-card1 {
        width: 288px;
        margin-bottom: 16px;
    }

    .aside__cards > div {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .aside__card-bonus {
        background-image: url(/img/card-bonus-bg-small.png);
        background-size: 288px 188px;
        max-height: 189px;
        padding-top: 9px;
    }

    .card__bonus-img2 {
        width: 288px;
        height: 180px;
    }

}
