@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"),
             url("Montserrat-Regular.woff") format("woff");
  }

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat Medium"),
             url("Montserrat-Medium.woff") format("woff");
  }

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"),
             url("Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Italic"),
             url("Montserrat-Italic.woff") format("woff");
}